@import ../../../base/variables


.header .bottom-row
  display: none


// Larger than tablet
@media ('min-width: 650px')
  .header .bottom-row
    display: block
    margin-top: 20px

    span
      margin-left: 5px
      margin-right: 5px