/* Header > top row SASS document */


@import ../../../base/variables
@import ../../../utilities/mixing-items-side-margin


.header .top-row
  margin-bottom: 20px

  #button-menu
    float: left

  .logo
    line-height: 44px // to vertically align logo to buttons

  .logo img
    max-width: calc(100% - 88px)
    vertical-align: middle // to vertically align logo to buttons

  .social-media
    display: none


// Special query
@media ('min-width: 650px')
  .header .top-row
    margin-bottom: 60px

    #button-menu
      display: none

    .logo
      float: left
      margin-left: 15px
      line-height: 0 // return to normal height


    .logo img
      max-width: 100%

    .social-media
      display: initial
      float: right

    .button-social
      width: 3.6rem
      height: 3.6rem
      +items-side-margin(3px, true)

      span
        font-size: 3.1rem