/* Font SASS Document */


@font-face {
  font-family: "Charis SIL Regular";
src: url("../fonts/charis-sil/charis-sil.woff2") format("woff2"),
       url("../fonts/charis-sil/charis-sil.woff") format("woff"),
       url("../fonts/charis-sil/charis-sil.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../fonts/proxima-nova/proxima-nova-light.woff2") format("woff2"),
       url("../fonts/proxima-nova/proxima-nova-light.woff") format("woff"),
       url("../fonts/proxima-nova/proxima-nova-light.ttf") format("truetype");
}

@font-face {
  font-family: "Proxima Nova S Medium";
  src: url("../fonts/proxima-nova-s/proxima-nova-s-medium.woff2") format("woff2"),
       url("../fonts/proxima-nova-s/proxima-nova-s-medium.woff") format("woff"),
       url("../fonts/proxima-nova-s/proxima-nova-s-medium.ttf") format("truetype");
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon/icomoon.woff2") format("woff2"),
       url("../fonts/icomoon/icomoon.woff") format("woff"),
       url("../fonts/icomoon/icomoon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}