@charset "UTF-8";
/* Style SASS document */
/* normalize.sass v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
 * ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
 * ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
 * ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `native`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
 * ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
 * ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
 * ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="date"] {
  -webkit-appearance: none;
  border: solid 1px; }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  padding: 0; }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
 * ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/9/2014
 ** Sass Version by Seth Coelen https://github.com/whatsnewsaes
 ** Personalization by Eduardo Alvarez https://twitter.com/el_alien v0.1 */
/* Skeleton | Variables SASS document */
/* Skeleton | Grid SASS document */
/* Skeleton | Variables SASS document */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.column,
.columns {
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
@media (min-width: 550px) {
  .container {
    width: 80%; }

  .columns {
    margin-left: 4%; }

  .columns:first-child {
    margin-left: 0; }

  .one.columns {
    width: 4.66667%; }

  .two.columns {
    width: 13.33333%; }

  .three.columns {
    width: 22%; }

  .four.columns {
    width: 30.66667%; }

  .five.columns {
    width: 39.33333%; }

  .six.columns {
    width: 48%; }

  .seven.columns {
    width: 56.66667%; }

  .eight.columns {
    width: 65.33333%; }

  .nine.columns {
    width: 74%; }

  .ten.columns {
    width: 82.66667%; }

  .eleven.columns {
    width: 91.33333%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 30.66667%; }

  .two-thirds.column {
    width: 65.33333%; }

  .one-half.column {
    width: 48%; }

  .offset-by-one.column,
  .offset-by-one.columns {
    margin-left: 8.66667%; }

  .offset-by-two.column,
  .offset-by-two.columns {
    margin-left: 17.33333%; }

  .offset-by-three.column,
  .offset-by-three.columns {
    margin-left: 26%; }

  .offset-by-four.column,
  .offset-by-four.columns {
    margin-left: 34.66667%; }

  .offset-by-five.column,
  .offset-by-five.columns {
    margin-left: 43.33333%; }

  .offset-by-six.column,
  .offset-by-six.columns {
    margin-left: 52%; }

  .offset-by-seven.column,
  .offset-by-seven.columns {
    margin-left: 60.66667%; }

  .offset-by-eight.column,
  .offset-by-eight.columns {
    margin-left: 69.33333%; }

  .offset-by-nine.column,
  .offset-by-nine.columns {
    margin-left: 78%; }

  .offset-by-ten.column,
  .offset-by-ten.columns {
    margin-left: 86.66667%; }

  .offset-by-eleven.column,
  .offset-by-eleven.columns {
    margin-left: 95.33333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns {
    margin-left: 34.66667%; }

  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.column {
    margin-left: 52%; }

  .offset-by-two-and-a-half.column,
  .offset-by-two-and-a-half.columns {
    margin-left: 21.66667%; } }
/* Skeleton | Base styles SASS document */
/* Skeleton | Variables SASS document */
html {
  font-size: 62.5%; }

body {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
  font-family: "Lato", Helvetica, sans-serif;
  color: #222222; }

/* Skeleton | Typography SASS document */
/* Skeleton | Variables SASS document */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700; }

h1 {
  font-size: 4rem;
  line-height: 1.2; }

h2 {
  font-size: 3.2rem;
  line-height: 1.25; }

h3 {
  font-size: 2.2rem;
  line-height: 1.3; }

h4 {
  font-size: 1.8rem;
  line-height: 1.35; }

h5 {
  font-size: 1.6rem;
  line-height: 1.5; }

h6 {
  font-size: 1.4rem;
  line-height: 1.6; }

@media (min-width: 550px) {
  p {
    margin-top: 0;
    font-size: 1.8rem;
    font-weight: 300; } }
/* Skeleton | Links SASS document */
/* Skeleton | Variables SASS document */
a {
  color: #0943A5;
  text-decoration: none; }
  a:hover {
    color: #08398d; }

/* Skeleton | Buttons SASS document */
/* Skeleton | Variables SASS document */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  min-width: 180px;
  min-height: 48px;
  padding: 0 30px;
  color: #0943A5;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.6;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #0943A5;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  color: white;
  background-color: #0943A5;
  outline: 0; }

.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333333;
  border-color: #888888;
  outline: 0; }

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #fff;
  background-color: #0943A5;
  border-color: #0943A5; }

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  color: #fff;
  background-color: #073685;
  border-color: #073685; }

.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #0943A5;
  border-color: #0943A5; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

/* Skeleton | Forms SASS document */
/* Skeleton | Variables SASS document */
textarea,
select {
  height: 38px;
  padding: 6px 10px;
  background-color: white;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }

input[type="date"], input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="date"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #0943A5;
  outline: 0; }

textarea:focus,
select:focus {
  border: 1px solid #0943A5;
  outline: 0; }

label,
legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal; }

/* Skeleton | List SASS document */
ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }
  li:last-child {
    margin-bottom: 0; }

/* Skeleton | Spacing SASS document */
button,
.button {
  margin-bottom: 1rem; }

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }

/* Skeleton | Spacing SASS document */
/* Skeleton | Variables SASS document */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

/* Skeleton | Utilities SASS document */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.u-pull-right {
  float: right; }

.u-pull-left {
  float: left; }

/* Skeleton | Clearing SASS document */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }

/* Variables SASS document */
/* Base style SASS document */
/* Variables SASS document */
body {
  color: #333333;
  font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  max-width: 100%;
  height: auto; }

.section {
  box-sizing: border-box;
  padding-top: 50px;
  padding-bottom: 30px; }

@media (min-width: 1000px) {
  .section {
    padding-top: 60px;
    padding-bottom: 40px; } }
/* Button wide SASS document */
/* Variables SASS document */
.button-wide {
  width: 100%;
  min-height: 48px;
  margin-bottom: 0;
  color: #3D84DD;
  border-color: #3D84DD;
  border-radius: 2px;
  font-family: "Proxima Nova S Medium", serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 48px;
  text-align: center;
  text-transform: none;
  vertical-align: middle; }
  .button-wide .icon {
    font-size: 3.6rem; }
  .button-wide .text {
    vertical-align: middle; }

.button-wide:hover {
  background: #3D84DD;
  color: white;
  border-color: #3D84DD; }

@media (min-width: 1000px) {
  .button-wide {
    transition: background 0.25s ease; } }
.button-unstyled {
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px; }

.button-unstyled:hover {
  background: none;
  border: none; }

/* Button social SASS document (social buttons) */
/* Variables SASS document */
/* Button social shape SASS document (social buttons) */
/* Variables SASS document */
.button-social.small {
  width: 4rem;
  height: 4rem; }

.button-social.circle {
  color: #E4E4E4;
  border-color: #E4E4E4;
  border-radius: 50%; }

.button-social.tab {
  border-radius: 0.35rem 0.35rem 0 0;
  border-bottom: none; }

.button-social.tab-inverted {
  border-radius: 0 0 0.35rem 0.35rem;
  border-top: none; }

@media (min-width: 1000px) {
  .button-social.small {
    width: 3rem;
    height: 3rem; }
    .button-social.small span {
      font-size: 2.6rem; } }
/* Button social color SASS document (social buttons) */
.facebook {
  color: #385185;
  border-color: #385185; }
  .facebook:hover {
    background: #385185;
    color: white;
    border-color: #385185; }

.twitter {
  color: #55acee;
  border-color: #55acee; }
  .twitter:hover {
    background: #55acee;
    color: white;
    border-color: #55acee; }

.instagram {
  color: #2B5B83;
  border-color: #2B5B83; }
  .instagram:hover {
    background: #2B5B83;
    color: white;
    border-color: #2B5B83; }

.whatsapp {
  color: #3CDF57;
  border-color: #3CDF57; }
  .whatsapp:hover {
    background: #3CDF57;
    color: white;
    border-color: #3CDF57; }

.mail {
  color: #52D3C1;
  border-color: #52D3C1; }
  .mail:hover {
    background: #52D3C1;
    color: white;
    border-color: #52D3C1; }

.circle.facebook:hover {
  background: none;
  color: #385185;
  border-color: #385185; }

.circle.twitter:hover {
  background: none;
  color: #55acee;
  border-color: #55acee; }

.circle.instagram:hover {
  background: none;
  color: #2B5B83;
  border-color: #2B5B83; }

.circle.whatsapp:hover {
  background: none;
  color: #2B5B83;
  border-color: #2B5B83; }

.circle.mail:hover {
  background: none;
  color: #52D3C1;
  border-color: #52D3C1; }

.button-social {
  display: inline-block;
  box-sizing: border-box;
  width: 4.4rem;
  height: 4.4rem;
  border: solid 0.1rem;
  text-align: center; }
  .button-social span {
    font-size: 4rem; }
  @media (min-width: 1000px) {
    .button-social {
      transition: background 0.25s ease; } }

/* Icons SASS document */
/* Variables SASS document */
.icon {
  font-family: "icomoon";
  speak: none;
  font-size: 4.4rem;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-calendar:before {
  content: ""; }

.icon-clock:before {
  content: ""; }

.icon-close:before {
  content: ""; }

.icon-contacts:before {
  content: ""; }

.icon-down:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-film:before {
  content: ""; }

.icon-instagram:before {
  content: ""; }

.icon-left:before {
  content: ""; }

.icon-mail-subscribe:before {
  content: ""; }

.icon-mail:before {
  content: ""; }

.icon-menu:before {
  content: ""; }

.icon-play:before {
  content: ""; }

.icon-quote-left:before {
  content: ""; }

.icon-right:before {
  content: ""; }

.icon-search:before {
  content: ""; }

.icon-shortcuts:before {
  content: ""; }

.icon-sub-menu:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-up:before {
  content: ""; }

.icon-whatsapp:before {
  content: ""; }

.icon-world:before {
  content: ""; }

/* Gradient overlay image SASS document */
.image-container {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
  height: 0;
  padding-bottom: 61.804%;
  overflow: hidden;
  background: rgba(240, 244, 249, 0.25);
  background: radial-gradient(50% 98%, rgba(61, 131, 221, 0.05) 51%, rgba(3, 39, 119, 0.1) 100%);
  line-height: 0;
  vertical-align: middle; }
  .image-container .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    vertical-align: middle; }
  .image-container .image {
    width: 100%;
    height: auto;
    vertical-align: bottom; }

/* Link SASS document */
/* Variables SASS document */
a {
  color: #3D84DD; }
  a:hover {
    color: #226ac5; }

/* Headings SASS document */
/* Variables SASS document */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif, serif;
  font-weight: 100; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: #333333; }

h1 {
  font-size: 3.2rem;
  line-height: 1.125; }

h2 {
  margin-bottom: 20px;
  font-size: 2.6rem;
  line-height: 1.25; }

h3 {
  font-size: 2.2rem;
  line-height: 1.625; }

h4 {
  font-size: 2rem;
  line-height: 1.4; }

p {
  margin-bottom: 30px;
  font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
  -webkit-font-smoothing: antialiased; }

small {
  font-size: 1.2rem;
  line-height: 1.175; }

@media (min-width: 750px) {
  p {
    font-size: 1.8rem;
    line-height: 1.85; }

  small {
    font-size: 1.4rem;
    line-height: 1.225; } }
@media (min-width: 1000px) {
  h1 {
    font-size: 4.8rem;
    line-height: 1.125; }

  h2 {
    font-size: 3rem;
    line-height: 1.3; }

  h3 {
    font-size: 2.4rem;
    line-height: 1.25; }

  h4 {
    font-size: 2rem;
    line-height: 1.35; } }
/* Site layout headings SASS document */
/* Variables SASS document */
.typography-alternate {
  font-family: "Proxima Nova S Medium", serif, serif;
  color: #3D84DD; }
  .typography-alternate a {
    color: #3D84DD; }

h1.typography-alternate {
  height: 6rem;
  margin-bottom: 0;
  background: #F5F5F5;
  color: #3D84DD;
  text-align: center;
  line-height: 6rem;
  border-bottom: solid 1px #9B9B9B;
  font-size: 2.6rem; }

h2.typography-alternate {
  margin-bottom: 1.7rem;
  color: #0943A5;
  font-size: 2.6rem;
  line-height: 1.125; }

h3.typography-alternate {
  margin-bottom: 1rem;
  font-size: 1.8rem;
  line-height: 1.05; }

@media (min-width: 1000px) {
  h1.typography-alternate {
    font-size: 2.4rem; }

  h2.typography-alternate {
    margin-bottom: 2rem;
    font-size: 2.4rem;
    line-height: 1.2125; }

  h3.typography-alternate {
    font-size: 1.8rem;
    line-height: 1.22; } }
/* Responsive video container SASS document */
.video-container {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 30px;
  overflow: hidden;
  background: #F0F4F9;
  background: radial-gradient(50% 98%, rgba(61, 131, 221, 0.05) 51%, rgba(3, 39, 119, 0.1) 100%); }
  .video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; }

/* Ads SASS document */
/* Variables SASS document */
/* Leaderboard ads SASS document */
/* Variables SASS document */
.ads.leaderboard {
  background: #F5F5F5;
  padding: 6px 15px 7px; }
  @media (min-width: 550px) {
    .ads.leaderboard {
      padding: 20px 0 13px 0; } }
  @media (min-width: 550px) {
    .ads.leaderboard a {
      width: 728px;
      height: 90px; } }

.ads.leaderboard.no-background {
  background: none; }

/* Full banner ads SASS document */
/* Variables SASS document */
.ads.full-banners {
  background: #F5F5F5;
  padding: 25px 10px;
  overflow: hidden; }
  .ads.full-banners .full-banner {
    display: inline-block; }
  .ads.full-banners .full-banner:first-child {
    margin-bottom: 10px; }
    @media (min-width: 750px) {
      .ads.full-banners .full-banner:first-child {
        margin-bottom: 0; } }

.ads.wrapper.no-background {
  background: none; }

/* Combo ads (Medium rectangle & button ads) SASS document */
/* Variables SASS document */
.ads.columns {
  position: relative;
  margin-bottom: 35px; }
  .ads.columns .medium-rectangle {
    margin-bottom: 25px; }

@media (min-width: 550px) {
  .other-news .ads.columns {
    height: 550px;
    margin-bottom: 30px; } }

@media (min-width: 550px) {
  .other-news-mini .ads.columns {
    height: 375px;
    padding-top: 44px; } }

@media (min-width: 550px) {
  .video-gallery .ads.columns {
    height: 365px; } }

/* Medium rectangle ads SASS document */
/* Variables SASS document */
.streamfields .ads.medium-rectangle,
.related-news .ads.medium-rectangle,
.latest-news .ads.medium-rectangle {
  margin-bottom: 15px; }
  .streamfields .ads.medium-rectangle div,
  .related-news .ads.medium-rectangle div,
  .latest-news .ads.medium-rectangle div {
    margin: 0 auto !important; }

/* Button ad ads SASS document */
/* Variables SASS document */
.streamfields .ads.button-ad,
.related-news .ads.button-ad,
.latest-news .ads.button-ad {
  margin-bottom: 15px; }

.ads {
  text-align: center; }

/* Meta-data SASS document */
/* Variables SASS document */
.meta-data {
  margin-bottom: 2.5rem;
  color: #9B9B9B;
  font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif; }
  .meta-data .icon-clock, .meta-data .text {
    line-height: 1; }
  .meta-data .icon-clock {
    vertical-align: middle;
    font-size: 2rem; }
  .meta-data .text {
    font-size: 1.3rem; }

/* Section menu SASS document */
/* Variables SASS document */
header.section-header {
  margin-bottom: 40px; }
  header.section-header .heading-alternate {
    margin-bottom: 0;
    padding-bottom: 1.5rem;
    border-bottom: solid 2px #0943A5;
    text-align: center; }
  header.section-header .triangle {
    margin: -2px auto 0 auto;
    line-height: 0;
    text-align: center; }

@media (max-width: 750px) {
  header.section-header {
    width: 100%; } }
@media (min-width: 750px) {
  header.section-header .heading-alternate {
    text-align: left; }
  header.section-header .triangle {
    text-align: left; }
    header.section-header .triangle img {
      margin-left: 65px; } }
/* Social media buttons SASS document */
/* Variables SASS document */
/* Inline items side margins SASS mixing */
.social-media {
  display: inline; }
  .social-media .button-social {
    margin-left: 5px;
    margin-right: 5px; }
  .social-media .button-social.mail {
    display: none; }

@media (min-width: 750px) {
  .social-media .button-social.mail {
    display: inline-block; }
  .social-media .button-social.whatsapp {
    display: none; } }
@media (min-width: 1000px) {
  .social-media .button-social {
    margin-left: 2px;
    margin-right: 2px; }
  .social-media .button-social:first-child {
    margin-left: 0; }
  .social-media .button-social:last-child {
    margin-right: 0; } }
/* Footer SASS document */
/* Variables SASS document */
/* Inline items side margins SASS mixing */
/* Footer | Article SASS document */
/* Variables SASS document */
.footer article .heading-alternate {
  color: white;
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-top: 0.9rem;
  margin-bottom: 1.1rem;
  text-transform: uppercase; }
.footer article ul {
  list-style-type: none; }
  .footer article ul li {
    line-height: 1.9rem;
    margin-bottom: 10px; }
.footer article .icon {
  display: none; }

@media (min-width: 550px) {
  .footer article {
    text-align: left; }
    .footer article .icon {
      display: block;
      word-break: break-all; } }
/* Footer | Horizontal rule SASS document */
/* Variables SASS document */
.footer #footer-hr-1 {
  width: 10rem;
  border: 2px solid #FFCC00; }

@media (min-width: 550px) {
  .footer #footer-hr-1,
  .footer #footer-hr-2,
  .footer #footer-hr-4 {
    display: none; } }
.footer {
  background: #333333;
  color: white;
  text-align: center; }
  .footer a {
    color: white; }
    .footer a:hover {
      color: #FFCC00; }
  .footer .button-social {
    margin-left: 7px;
    margin-right: 7px; }
  .footer .button-social:first-child {
    margin-left: 0; }
  .footer .button-social:last-child {
    margin-right: 0; }
  .footer .typography-alternate {
    color: white; }

@media (min-width: 550px) {
  .footer {
    text-align: left; }
    .footer .copyright,
    .footer .social-media {
      text-align: center; }
    .footer .social-media {
      display: block;
      margin-bottom: 2rem; }
    .footer .logo-tc {
      margin-left: 13.33333%; } }
@media (min-width: 1000px) {
  .footer .logo-tc:hover {
    opacity: 0.85; }
  .footer .four:nth-child(1) {
    width: 48%; }
  .footer .four:nth-child(2) {
    width: 22%; }
  .footer .four:nth-child(3) {
    width: 22%; } }
/* Header SASS document */
/* Variables SASS document */
/* Variables SASS document */
.header .bottom-row {
  display: none; }

@media (min-width: 650px) {
  .header .bottom-row {
    display: block;
    margin-top: 20px; }
    .header .bottom-row span {
      margin-left: 5px;
      margin-right: 5px; } }
/* Navigation menu SASS document */
/* Variables SASS document */
.horizontal-container {
  display: none;
  border-top: solid 2px #0943A5;
  border-bottom: solid 1px #3D84DD; }
  .horizontal-container .menu-items {
    height: 44px;
    display: inline-block;
    min-height: 0;
    margin-bottom: 0; }
    .horizontal-container .menu-items li {
      display: inline;
      margin-right: 20px;
      list-style-type: none;
      line-height: 44px; }

@media (min-width: 650px) {
  .horizontal-container {
    display: block; } }
/* Variables SASS document */
.header .vertical-container {
  display: none;
  position: absolute;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  width: 85%;
  max-width: 320px;
  padding: 10px;
  background: #333333;
  text-align: left; }
  .header .vertical-container li {
    list-style-type: none; }
  .header .vertical-container a {
    color: white; }
    .header .vertical-container a:hover {
      color: #FFCC00; }

@media (min-width: 650px) {
  .header .vertical-container {
    left: auto;
    right: 0;
    border: solid 1px #3D84DD;
    background: white;
    border-top: none;
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2); }
    .header .vertical-container li {
      margin-bottom: 0; }
    .header .vertical-container a {
      color: #9B9B9B; }
      .header .vertical-container a:hover {
        color: #3D84DD; } }
#nav {
  position: relative; }

/* Header > top row SASS document */
/* Variables SASS document */
/* Inline items side margins SASS mixing */
.header .top-row {
  margin-bottom: 20px; }
  .header .top-row #button-menu {
    float: left; }
  .header .top-row .logo {
    line-height: 44px; }
  .header .top-row .logo img {
    max-width: calc(100% - 88px);
    vertical-align: middle; }
  .header .top-row .social-media {
    display: none; }

@media (min-width: 650px) {
  .header .top-row {
    margin-bottom: 60px; }
    .header .top-row #button-menu {
      display: none; }
    .header .top-row .logo {
      float: left;
      margin-left: 15px;
      line-height: 0; }
    .header .top-row .logo img {
      max-width: 100%; }
    .header .top-row .social-media {
      display: initial;
      float: right; }
    .header .top-row .button-social {
      width: 3.6rem;
      height: 3.6rem; }
      .header .top-row .button-social {
        margin-left: 3px;
        margin-right: 3px; }
      .header .top-row .button-social:first-child {
        margin-left: 0; }
      .header .top-row .button-social:last-child {
        margin-right: 0; }
      .header .top-row .button-social span {
        font-size: 3.1rem; } }
.header {
  margin: 16px auto;
  font-family: "Proxima Nova S Medium", serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.92rem; }
  .header .container {
    width: 95%;
    padding: 0; }
  .header a,
  .header button {
    color: #9B9B9B; }
    .header a:hover,
    .header button:hover {
      color: #3D84DD; }
  .header .active {
    color: #0943A5; }

@media (min-width: 550px) {
  .header {
    margin: 20px auto 25px auto; } }
@media (min-width: 1000px) {
  .header {
    margin: 30px auto 40px auto; } }
/* Subscribe SASS document */
/* Variables SASS document */
/* Subscribe form SASS document */
/* Variables SASS document */
.form {
  margin-bottom: 0; }
  .form input[type="date"],
  .form input[type="email"],
  .form button {
    height: 60px;
    font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 100;
    border-color: #E4E4E4; }
  .form input[type="date"],
  .form input[type="email"] {
    display: inline-block;
    width: 75%;
    border-radius: 2px 0 0 2px; }
  .form button {
    display: inline-block;
    width: 20%;
    margin-top: 1px;
    margin-left: -4px;
    margin-bottom: 0;
    padding: 0;
    background: #0943A5;
    border: #062f75;
    border-radius: 0 2px 2px 0;
    color: white;
    text-transform: uppercase; }
    .form button [class^="icon-"], .form button [class*=" icon-"] {
      font-size: 4.4rem;
      line-height: 0;
      color: white; }
    .form button .text {
      display: none; }
  .form button:hover {
    background: #062f75; }

@media (min-width: 550px) {
  .form input[type="date"],
  .form input[type="email"] {
    width: 60%; }
  .form button [class^="icon-"], .form button [class*=" icon-"] {
    display: none; }
  .form button .text {
    display: inline; } }
@media (min-width: 1000px) {
  .form input[type="date"],
  .form input[type="email"] {
    width: 500px; }
  .form button {
    width: 160px; } }
.subscribe {
  background: #F5F5F5;
  text-align: center;
  border-top: solid 1px #e8e8e8; }
  .subscribe .icon-mail-subscribe {
    display: none; }

@media (min-width: 550px) {
  .subscribe .icon-mail-subscribe {
    display: inline-block;
    color: #CACACA;
    font-size: 10rem; } }
/* Article menu SASS document */
/* Variables SASS document */
.article-header {
  padding-top: 25px;
  overflow: hidden; }
  @media (min-width: 1000px) {
    .article-header h1 {
      width: 74%; } }
  .article-header hr {
    margin-bottom: 0;
    border: solid 1px #FFCC00; }
  .article-header .meta-data {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center; }
  .article-header .social-media {
    display: block;
    text-align: center; }
  @media (min-width: 550px) {
    .article-header .meta-data,
    .article-header .social-media {
      width: 100%; } }
  @media (min-width: 750px) {
    .article-header {
      padding-top: 45px; }
      .article-header .meta-data {
        float: left;
        width: 65.33333%;
        margin-top: 10px;
        text-align: left; }
      .article-header .social-media {
        float: right;
        text-align: right;
        width: 30.66667%; } }

.article-header.no-padding-top {
  padding-top: 0; }

/* Recent news SASS document */
/* Variables SASS document */
/* Gallery grid SASS mixing */
/* Variables SASS document */
/* Recent news News block SAS document */
/* Variables SASS document */
.latest-news article {
  margin-bottom: 20px; }
  .latest-news article .headings,
  .latest-news article .title {
    margin-bottom: 0;
    white-space: pre-wrap; }
    @media (min-width: 1000px) {
      .latest-news article .headings,
      .latest-news article .title {
        margin-bottom: 10px; } }
  .latest-news article .meta-data {
    margin-bottom: 5px;
    font-size: 1.3rem; }
    @media (min-width: 1000px) {
      .latest-news article .meta-data {
        margin-bottom: 20px; } }
  .latest-news article .image-container {
    margin-bottom: 10px; }
    @media (min-width: 1000px) {
      .latest-news article .image-container {
        margin-bottom: 15px; } }

.latest-news {
  background: #F5F5F5; }
  .latest-news .scroll {
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch; }
    .latest-news .scroll article {
      display: inline-table;
      width: 220px;
      margin-left: 3.5%; }
    .latest-news .scroll article:first-child {
      margin-left: 0; }
  @media (min-width: 750px) {
    .latest-news .scroll {
      overflow: hidden; }
      .latest-news .scroll article {
        width: 22%; } }

/* Related news SASS document */
/* Variables SASS document */
/* Related news News block SASS document */
/* Variables SASS document */
.related-news article {
  margin-bottom: 15px; }
  .related-news article .title {
    margin-bottom: 0;
    padding-left: 15px; }
  .related-news article .meta-data,
  .related-news article .paragraph {
    display: none; }
  @media (min-width: 750px) {
    .related-news article {
      margin-bottom: 20px;
      padding-left: 0; }
      .related-news article .title {
        padding-left: 0;
        margin-bottom: 10px; }
      .related-news article .meta-data,
      .related-news article .paragraph {
        display: block; }
      .related-news article .meta-data {
        margin-bottom: 20px;
        font-size: 1.3rem; }
      .related-news article .paragraph {
        font-size: 1.4rem;
        margin-bottom: 0; } }

.related-news {
  padding-top: 15px; }
  .related-news article .columns:first-child {
    width: 25%; }
  .related-news article .columns:last-child {
    width: 75%; }
  @media (min-width: 550px) {
    .related-news article .columns {
      width: 100%; }
    .related-news article .columns:first-child {
      margin-left: 0;
      width: 30.66667%; }
    .related-news article .columns:last-child {
      width: 65.33333%; } }
  @media (min-width: 750px) {
    .related-news article .columns:first-child {
      margin-left: 17.33333%;
      width: 22%; }
    .related-news article .columns:last-child {
      width: 39.33333%; } }
  @media (min-width: 750px) {
    .related-news {
      padding-top: 60px; } }

/* Streamfields SASS document */
/* Variables SASS document */
/* Streamfields | Blockquote SASS document */
/* Variables SASS document */
.streamfields .blockquote blockquote {
  margin-top: 60px;
  margin-left: 0;
  margin-right: 0;
  max-height: 260px;
  background: #333333;
  color: white;
  font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif;
  text-align: center; }
  .streamfields .blockquote blockquote .left, .streamfields .blockquote blockquote .right {
    box-sizing: border-box; }
  .streamfields .blockquote blockquote .left img {
    margin-top: -40px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: grayscale(1); }
  .streamfields .blockquote blockquote .right {
    background: #333333;
    padding: 20px 20px 40px; }
    .streamfields .blockquote blockquote .right .icon-quote-left {
      color: #FFCC00; }
    .streamfields .blockquote blockquote .right p {
      font-size: 1.8rem;
      line-height: 1.22;
      font-style: italic;
      margin-bottom: 1rem; }
    .streamfields .blockquote blockquote .right .author {
      font-size: 1.3rem;
      line-height: 1.7; }
    .streamfields .blockquote blockquote .right .author:before {
      content: "-";
      margin-right: 5px; }
  @media (min-width: 750px) {
    .streamfields .blockquote blockquote {
      margin-top: 50px;
      overflow: auto; }
      .streamfields .blockquote blockquote .left, .streamfields .blockquote blockquote .right {
        float: left;
        height: 260px;
        padding: 40px; }
      .streamfields .blockquote blockquote .left {
        width: 34%;
        background: #CACACA;
        text-align: right; }
        .streamfields .blockquote blockquote .left .vertical-align {
          display: inline-block;
          height: 100%;
          vertical-align: middle; }
        .streamfields .blockquote blockquote .left img {
          margin-top: 0;
          max-width: none;
          width: 150px;
          height: 150px;
          vertical-align: middle; }
      .streamfields .blockquote blockquote .right {
        width: 66%;
        text-align: left; }
        .streamfields .blockquote blockquote .right .icon-quote-left {
          margin-left: -5px; } }
  @media (min-width: 1000px) {
    .streamfields .blockquote blockquote p {
      max-width: 74%;
      line-height: 1.667; } }

/* Streamfields | HTML embed SASS document */
/* Variables SASS document */
.streamfields .html-embed {
  text-align: center; }
  .streamfields .html-embed iframe {
    margin: 0 auto;
    text-align: center;
    border: none;
    min-height: 0; }
    @media (max-width: 400px) {
      .streamfields .html-embed iframe {
        width: 100%;
        height: auto; } }

/* Streamfields | Normal image SASS document */
/* Variables SASS document */
.streamfields .image {
  background: #333333; }
  .streamfields .image img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    vertical-align: bottom; }

/* Streamfield - Panorama SASS document */
/* Variables SASS document */
.panorama img {
  width: 100%;
  height: auto;
  vertical-align: bottom; }

/* Streamfield - Paragraph SASS document */
/* Variables SASS document */
.streamfields .paragraph div,
.streamfields .paragraph b,
.streamfields .paragraph strong,
.streamfields .paragraph em {
  margin-bottom: 30px;
  font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.4375;
  -webkit-font-smoothing: antialiased; }
  @media (min-width: 750px) {
    .streamfields .paragraph div,
    .streamfields .paragraph b,
    .streamfields .paragraph strong,
    .streamfields .paragraph em {
      font-size: 1.8rem;
      line-height: 1.85; } }
.streamfields .paragraph b,
.streamfields .paragraph strong,
.streamfields .paragraph em {
  font-style: normal;
  font-weight: normal; }
.streamfields .paragraph li {
  margin-bottom: 0; }
.streamfields .paragraph br {
  display: none; }

@media (min-width: 750px) {
  .streamfields .paragraph p:last-child {
    margin-bottom: 0; } }

.streamfields .paragraph .rich-text {
  margin-bottom: 0; }

/* Streamfields | Phrase SASS document */
/* Variables SASS document */
.streamfields .phrase p {
  box-sizing: border-box;
  padding-left: 28px;
  text-align: left;
  border-left: solid 2px #FFCC00;
  font-size: 2.2rem;
  line-height: 2.6rem; }
  @media (min-width: 750px) {
    .streamfields .phrase p {
      font-size: 2.4rem;
      line-height: 2.8rem;
      width: 75%; } }

/* Streamfields | Subtitle SASS document */
/* Streamfields | Video SASS document */
.streamfields {
  padding-top: 0;
  padding-bottom: 0; }

.streamfields .panorama,
.streamfields .blockquote {
  margin: 0 auto 40px; }

.streamfields .paragraph,
.streamfields .subtitle,
.streamfields .image,
.streamfields .phrase,
.streamfields .html-embed,
.streamfields .video {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto 40px;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 400px) {
    .streamfields .paragraph,
    .streamfields .subtitle,
    .streamfields .image,
    .streamfields .phrase,
    .streamfields .html-embed,
    .streamfields .video {
      width: 85%;
      padding: 0; } }
  @media (min-width: 550px) {
    .streamfields .paragraph,
    .streamfields .subtitle,
    .streamfields .image,
    .streamfields .phrase,
    .streamfields .html-embed,
    .streamfields .video {
      width: 80%; } }
  @media (min-width: 750px) {
    .streamfields .paragraph,
    .streamfields .subtitle,
    .streamfields .image,
    .streamfields .phrase,
    .streamfields .html-embed,
    .streamfields .video {
      width: 66%; } }
  @media (min-width: 1000px) {
    .streamfields .paragraph,
    .streamfields .subtitle,
    .streamfields .image,
    .streamfields .phrase,
    .streamfields .html-embed,
    .streamfields .video {
      width: 48%; } }

.streamfields *:last-child {
  margin-bottom: 0; }

.streamfields .eight > * {
  width: 100%; }

/* Other news SASS document */
/* Variables SASS document */
/* Gallery grid SASS mixing */
/* Variables SASS document */
/* News block SASS document */
/* Variables SASS document */
/* Multi line text SASS mixing */
/* News block footer SASS document */
/* Variables SASS document */
/* Inline items side margins SASS mixing */
.other-news .news-block footer .social-media {
  text-align: center;
  display: block; }
.other-news .news-block footer .button-social {
  margin-left: 4px;
  margin-right: 4px; }
.other-news .news-block footer .button-social:first-child {
  margin-left: 0; }
.other-news .news-block footer .button-social:last-child {
  margin-right: 0; }

@media (min-width: 550px) {
  .other-news .news-block footer {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 20px; }
    .other-news .news-block footer .meta-data time {
      display: block; } }
@media (min-width: 640px) {
  .other-news .news-block footer .meta-data time {
    display: inline; } }
@media (min-width: 1000px) {
  .other-news .news-block footer .social-media {
    opacity: 0;
    transition: opacity 0.25s ease;
    text-align: right; }
  .other-news .news-block footer .button-social {
    margin-left: 2px;
    margin-right: 2px; }
  .other-news .news-block footer .button-social:first-child {
    margin-left: 0; }
  .other-news .news-block footer .button-social:last-child {
    margin-right: 0; } }
.other-news .news-block {
  box-sizing: border-box;
  background: white;
  margin-bottom: 20px;
  padding: 20px 20px 0;
  border-bottom: solid 2px #9B9B9B; }

@media (min-width: 550px) {
  .other-news .news-block {
    position: relative;
    height: 550px;
    margin-bottom: 30px; }
    .other-news .news-block h4 {
      font-size: 2rem;
      display: block;
      max-height: 8.1rem;
      line-height: 1.35;
      overflow: hidden; }
    .other-news .news-block p {
      font-size: 1.4rem;
      display: block;
      max-height: 9.625rem;
      line-height: 1.375;
      overflow: hidden; } }
@media (min-width: 1000px) {
  .other-news .news-block:hover .social-media {
    opacity: 1; } }
.other-news {
  background: #F5F5F5; }
  @media (min-width: 550px) {
    .other-news .gallery-grid .columns {
      width: 48%; }
    .other-news .gallery-grid .columns:nth-child(2n+1) {
      margin-left: 0; } }
  @media (min-width: 1000px) {
    .other-news .gallery-grid .columns {
      width: 30.66667%; }
    .other-news .gallery-grid .columns:nth-child(2n+1) {
      margin-left: 4%; }
    .other-news .gallery-grid .columns:nth-child(3n+1) {
      margin-left: 0; } }

/* Main news 7 slots SASS document */
/* Main News 7 / Grid SASS document */
/* Variables SASS document */
.main-news-7 .grid {
  margin: 0 auto;
  background: navy; }
  .main-news-7 .grid article {
    background-size: cover !important; }
  .main-news-7 .grid .news-block:nth-last-child(-n+4) {
    display: none; }

@media (min-width: 550px) {
  .main-news-7 .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 360px;
    overflow: hidden; }
    .main-news-7 .grid .news-block:nth-child(1),
    .main-news-7 .grid .news-block:nth-child(5) {
      height: 360px; } }
@media (min-width: 1000px) {
  .main-news-7 .grid {
    width: 960px;
    height: 540px; }
    .main-news-7 .grid .news-block:nth-last-child(-n+4) {
      display: block; }
    .main-news-7 .grid .news-block:nth-child(2) {
      order: 3; }
    .main-news-7 .grid .news-block:nth-child(3) {
      order: 6; }
    .main-news-7 .grid .news-block:nth-child(4) {
      order: 4; }
    .main-news-7 .grid .news-block:nth-child(5) {
      order: 7; }
    .main-news-7 .grid .news-block:nth-child(6) {
      order: 2; }
    .main-news-7 .grid .news-block:nth-child(7) {
      order: 5; } }
/* Scroll SASS document */
/* Variables SASS document */
.main-news-7 .scroll {
  display: block;
  background: navy;
  width: 100%;
  height: 180px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }
  .main-news-7 .scroll article {
    background-size: cover !important;
    margin-left: -4px;
    display: inline-table;
    width: 80%; }
  .main-news-7 .scroll article:nth-child(1) {
    margin-left: 0; }
  @media (min-width: 550px) {
    .main-news-7 .scroll article {
      width: 480px; } }
  @media (min-width: 1000px) {
    .main-news-7 .scroll {
      display: none; } }

/* Main News / News block SASS document */
/* Variables SASS document */
/* Multi line text SASS mixing */
.main-news-7 .news-block {
  position: relative;
  box-sizing: border-box;
  height: 180px;
  background-size: cover;
  overflow: hidden; }
  .main-news-7 .news-block a {
    position: relative;
    display: block;
    box-sizing: border-box;
    z-index: 2;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white; }
  .main-news-7 .news-block img {
    display: none; }
  .main-news-7 .news-block .title, .main-news-7 .news-block .author {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .main-news-7 .news-block .title {
    font-size: 2.16rem;
    line-height: 1.6;
    margin-bottom: 5px;
    white-space: pre-wrap;
    display: block;
    max-height: 10.368rem;
    line-height: 1.6;
    overflow: hidden; }
  .main-news-7 .news-block .author {
    font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif;
    font-size: 1.233rem;
    line-height: 2rem; }

.main-news-7 .news-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 100%;
  background: #032777;
  background: linear-gradient(-134deg, #0943A5 100%, #032777 100%);
  opacity: 0.5;
  transition: opacity 0.25s ease; }

.main-news-7 .news-block:hover:after {
  opacity: 0.65; }

@media (min-width: 550px) {
  .main-news-7 .news-block {
    width: 50%; } }
@media (min-width: 1000px) {
  .main-news-7 .news-block {
    width: 320px; }
    .main-news-7 .news-block .title {
      -webkit-font-smoothing: initial;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9); } }
/* On screen SASS document */
/* On Screen title menu SASS document */
/* Variables SASS document */
/* Multi line text SASS mixing */
.on-screen .title-header {
  margin-bottom: 0;
  padding: 0; }
  .on-screen .title-header .meta-data {
    display: block; }
  .on-screen .title-header .social-media {
    display: block;
    text-align: center; }

@media (min-width: 550px) {
  .on-screen .title-header h3 {
    display: block;
    max-height: 7.14rem;
    line-height: 1.7;
    overflow: hidden; } }
@media (min-width: 750px) {
  .on-screen .title-header h3 {
    margin-bottom: 5px; } }
@media (min-width: 1000px) {
  .on-screen .title-header .social-media {
    text-align: right; } }
/* On screen news block SASS document */
/* Variables SASS document */
.on-screen .video-thumb {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 5px;
  padding: 0 0 5px;
  color: #333333;
  text-align: left;
  border: 0;
  border-bottom: solid 1px #FFCC00;
  border-radius: 0; }
  .on-screen .video-thumb .image-container {
    display: inline-block;
    max-width: 27.25%;
    height: auto;
    margin: 0;
    padding: 0;
    border-radius: 2px; }
  .on-screen .video-thumb .label {
    display: inline-block;
    overflow: hidden;
    width: 60%;
    height: 5.67rem;
    padding-left: 16px;
    font-family: "Proxima Nova Light", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    line-height: 1.8rem;
    text-transform: none;
    vertical-align: middle;
    word-break: normal;
    white-space: normal; }

.on-screen .video-thumb:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none; }

.on-screen .video-thumb.active,
.on-screen .video-thumb:hover {
  color: #3D84DD; }

@media (min-width: 550px) {
  .on-screen .video-thumb .image-container {
    display: none; }
  .on-screen .video-thumb .label {
    padding-left: 0;
    width: 100%; } }
@media (min-width: 750px) {
  .on-screen .video-thumb .image-container {
    display: inline-block; }
  .on-screen .video-thumb .label {
    padding-left: 16px;
    width: 65%; } }
.on-screen .row:nth-child(2) {
  margin-bottom: 30px; }
.on-screen .four.columns {
  margin-top: 2px; }
.on-screen .video-container {
  border-top: solid 2px #9B9B9B; }

@media (min-width: 1000px) {
  .on-screen .row:nth-child(2) {
    margin-bottom: 50px; } }
/* Main news 4 slots SASS document */
/* Main News 4 / Grid SASS document */
/* Variables SASS document */
.main-news-4 .grid {
  margin: 0 auto;
  background: navy; }
  .main-news-4 .grid .news-block {
    background-size: cover !important; }
  .main-news-4 .grid .news-block:first-child {
    height: 240px; }
  .main-news-4 .grid .news-block:nth-last-child(-n+3) {
    display: none; }
  @media (min-width: 750px) {
    .main-news-4 .grid .news-block:first-child {
      height: 380px; } }
  @media (min-width: 1000px) {
    .main-news-4 .grid {
      width: 960px;
      height: 380px; }
      .main-news-4 .grid .news-block {
        float: left; }
      .main-news-4 .grid .news-block:first-child {
        height: 100%; }
      .main-news-4 .grid .news-block:nth-last-child(-n+3) {
        display: block; } }

/* Scroll SASS document */
/* Variables SASS document */
.main-news-4 .scroll {
  display: block;
  background: navy;
  width: 100%;
  height: 180px;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; }
  .main-news-4 .scroll article {
    background-size: cover !important;
    margin-left: -4px;
    display: inline-table;
    width: 80%; }
  .main-news-4 .scroll article:nth-child(1) {
    margin-left: 0; }
  @media (min-width: 550px) {
    .main-news-4 .scroll article {
      width: 480px; } }
  @media (min-width: 1000px) {
    .main-news-4 .scroll {
      display: none; } }

/* Main News / News block SASS document */
/* Variables SASS document */
/* Multi line text SASS mixing */
.main-news-4 .news-block {
  position: relative;
  box-sizing: border-box;
  height: 380px;
  background-size: cover;
  overflow: hidden; }
  .main-news-4 .news-block a {
    position: relative;
    display: block;
    box-sizing: border-box;
    z-index: 2;
    padding: 20px;
    width: 100%;
    height: 100%;
    color: white; }
  .main-news-4 .news-block img {
    display: none; }
  .main-news-4 .news-block .title, .main-news-4 .news-block .author {
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); }
  .main-news-4 .news-block .title {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 5px;
    white-space: pre-wrap;
    display: block;
    max-height: 9rem;
    line-height: 1.5;
    overflow: hidden; }
  .main-news-4 .news-block .author {
    font-family: "Charis SIL Regular", Georgia, "Times New Roman", Times, serif;
    font-size: 1.233rem;
    line-height: 2rem; }

.main-news-4 .news-block:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #032777;
  background: linear-gradient(-134deg, #0943A5 0%, #032777 100%);
  opacity: 0.5;
  transition: opacity 0.25s ease; }

.main-news-4 .news-block:hover:after {
  opacity: 0.65; }

@media (min-width: 1000px) {
  .main-news-4 .news-block {
    width: 25%; }
    .main-news-4 .news-block .title {
      -webkit-font-smoothing: initial;
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9); } }
/* Other news mini SASS document */
/* Variables SASS document */
/* Gallery grid SASS mixing */
/* Variables SASS document */
/* News block SASS document */
/* Variables SASS document */
/* Multi line text SASS mixing */
.other-news-mini .news-block {
  box-sizing: border-box;
  margin-bottom: 20px; }
  .other-news-mini .news-block .social-media {
    text-align: center; }
  .other-news-mini .news-block .image-container {
    border-radius: 2px; }
  .other-news-mini .news-block .social-media {
    display: block;
    text-align: center; }
  @media (min-width: 550px) {
    .other-news-mini .news-block {
      position: relative;
      height: 375px;
      margin-bottom: 35px;
      overflow: hidden; }
      .other-news-mini .news-block h4 {
        display: block;
        max-height: 7.8rem;
        line-height: 1.3;
        overflow: hidden; } }
  @media (min-width: 1000px) {
    .other-news-mini .news-block .social-media {
      opacity: 0;
      transition: opacity 0.25s ease; } }

@media (min-width: 1000px) {
  .other-news-mini .news-block:hover .social-media {
    opacity: 1; } }

.other-news-mini {
  padding-top: 40px; }
  @media (min-width: 550px) {
    .other-news-mini .gallery-grid .columns {
      width: 48%; }
    .other-news-mini .gallery-grid .columns:nth-child(2n+1) {
      margin-left: 0; } }
  @media (min-width: 1000px) {
    .other-news-mini .gallery-grid .columns {
      width: 30.66667%; }
    .other-news-mini .gallery-grid .columns:nth-child(2n+1) {
      margin-left: 4%; }
    .other-news-mini .gallery-grid .columns:nth-child(3n+1) {
      margin-left: 0; } }

/* Gallery grid SASS mixing */
/* Variables SASS document */
/* Video gallery - Video thumb SASS document */
/* Variables SASS document */
.video-gallery .video-thumb {
  box-sizing: border-box;
  margin-bottom: 20px; }
  @media (min-width: 550px) {
    .video-gallery .video-thumb {
      height: 365px;
      margin-bottom: 35px; } }

.video-gallery .video-thumb:hover {
  cursor: pointer; }
  .video-gallery .video-thumb:hover h4 {
    color: #3D84DD; }

@media (min-width: 550px) {
  .video-gallery .gallery-grid .columns {
    width: 48%; }
  .video-gallery .gallery-grid .columns:nth-child(2n+1) {
    margin-left: 0; } }
@media (min-width: 1000px) {
  .video-gallery .gallery-grid .columns {
    width: 30.66667%; }
  .video-gallery .gallery-grid .columns:nth-child(2n+1) {
    margin-left: 4%; }
  .video-gallery .gallery-grid .columns:nth-child(3n+1) {
    margin-left: 0; } }

/* Video player SASS document */
/* Variables SASS document */
.video-player .video-container {
  border-bottom: solid 2px #FFCC00; }
.video-player header {
  padding-top: 30px; }
.video-player .social-media {
  text-align: center; }
@media (min-width: 550px) {
  .video-player header,
  .video-player .social-media {
    margin: 0;
    width: 100%; } }
@media (min-width: 750px) {
  .video-player header {
    float: left;
    width: 65.33333%; }
  .video-player .social-media {
    float: right;
    text-align: right;
    width: 30.66667%; } }

/*# sourceMappingURL=style.css.map */
