/* News block SASS document */


@import ../../../base/variables
@import ../../../utilities/mixing-multi-line-text


.other-news-mini .news-block
  // Variables
  $font-size: 2rem
  $line-height: 1.3
  $max-lines: 3

  box-sizing: border-box
  margin-bottom: 20px

  .social-media
    text-align: center

  .image-container
    border-radius: 2px

  .social-media
    display: block
    text-align: center


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    position: relative
    height: 375px
    margin-bottom: 35px
    overflow: hidden

    h4
      +multi-line-text($font-size, $line-height, $max-lines)


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    .social-media
      opacity: 0
      transition: opacity 0.25s ease


.other-news-mini .news-block:hover
  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    .social-media
      opacity: 1