/* Video gallery - Video thumb SASS document */


@import ../../../base/variables


.video-gallery .video-thumb
  box-sizing: border-box
  margin-bottom: 20px


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    height: 365px
    margin-bottom: 35px

.video-gallery .video-thumb:hover
  cursor: pointer

  h4
    color: $color-sky-blue