/* On Screen title header SASS document */


@import ../../../base/variables
@import ../../../utilities/mixing-multi-line-text


.on-screen .title-header
  margin-bottom: 0
  padding: 0

  .meta-data
    display: block

  .social-media
    display: block
    text-align: center


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .on-screen .title-header
    h3
      +multi-line-text(2.1rem, 1.7, 2)


// Larger than Tablet
@media ($bp-larger-than-tablet)
  .on-screen .title-header
    h3
      margin-bottom: 5px


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .on-screen .title-header
    .social-media
      text-align: right