/* On screen news block SASS document */


@import ../../../base/variables


.on-screen .video-thumb
  -webkit-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  margin: 0 0 5px
  padding: 0 0 5px
  color: #333333
  text-align: left
  border: 0
  border-bottom: solid 1px $color-gold
  border-radius: 0

  .image-container
    display: inline-block
    max-width: 27.25%
    height: auto
    margin: 0
    padding: 0
    border-radius: 2px

  .label
    $font-size: 1.4rem
    $line-height: 1.8
    $max-lines: 3

    display: inline-block
    overflow: hidden
    width: 60%
    height: $font-size * 1.35 * $max-lines
    padding-left: 16px
    font-family: $font-proxima-nova-light
    font-size: $font-size
    font-weight: 100
    line-height: $line-height+rem
    text-transform: none
    vertical-align: middle
    word-break: normal
    white-space: normal

.on-screen .video-thumb:last-of-type
  margin-bottom: 0
  padding-bottom: 0
  border-bottom: none

.on-screen .video-thumb.active,
.on-screen .video-thumb:hover
  color: $color-sky-blue


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .on-screen .video-thumb
    .image-container
      display: none
    .label
      padding-left: 0
      width: 100%


// Larger than Tablet
@media ($bp-larger-than-tablet)
  .on-screen .video-thumb
    .image-container
      display: inline-block
    .label
      padding-left: 16px
      width: 65%