/* Combo ads (Medium rectangle & button ads) SASS document */


@import "../../base/variables"


.ads.columns
  position: relative
  margin-bottom: 35px

  .medium-rectangle
    margin-bottom: 25px


// Page home.html
.other-news
  .ads.columns
    // Larger than Phablet
    @media ($bp-larger-than-phablet)
      height: 550px
      margin-bottom: 30px


// Page news-category.html
.other-news-mini
  .ads.columns
    // Larger than Phablet
    @media ($bp-larger-than-phablet)
      height: 375px
      padding-top: 44px // to align itself because of the share buttons of news block on other news mini


// Page video-library.html
.video-gallery
  .ads.columns
    // Larger than Phablet
    @media ($bp-larger-than-phablet)
      height: 365px