/* Full banner ads SASS document */


@import "../../base/variables"


.ads.full-banners
  background: $color-background-light
  padding: 25px 10px
  overflow: hidden

  .full-banner
    display: inline-block

  .full-banner:first-child
    margin-bottom: 10px
    @media ($bp-larger-than-tablet)
      margin-bottom: 0

// Special cases
.ads.wrapper.no-background
  background: none