/* Leaderboard ads SASS document */


@import "../../base/variables"


.ads.leaderboard
  background: $color-background-light
  padding: 6px 15px 7px

  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    padding: 20px 0 13px 0

  // Larger than Tablet
  @media ($bp-larger-than-phablet)
    // forces the size to leave the space so you can load the page without jumps when the resource is ready
    a
      width: 728px
      height: 90px


// Special cases
.ads.leaderboard.no-background
  background: none