<section class="main-news-7">
    <h2 class="heading" hidden>Noticias principales</h2>

    <div class="grid">
        {{#articles}}
        <article class="news-block background-image" data-src="images/media/{{imageURL}}">
            <a href="{{url}}">
                <h3 class="title">{{title}}</h3>
                <p hidden class="author">Por {{author}}</p>
            </a>
            <img hidden src="images/defer.png" data-src="images/media/{{imageURL}}" alt="{{imageCaption}}">
        </article>
        {{/articles}}
    </div>

    <div class="scroll">
        <!-- javascript put the last 4 articles on mobile here -->
    </div>
</section>