<section class="section on-screen">
    <header id="video-player-title" class="container section-header">
        <h2 class="typography-alternate">En pantalla</h2>
        <div class="triangle">
            <img src="images/defer.png" data-src="images/icons/triangle.svg" alt="Adorno del título">
        </div>
    </header>

    <div class="container">
        <!-- article title and meta data -->
        <div class="row">
            <div class="eight columns">
                {{#articles}}
                {{#first}}
                <header class="title-header">
                    <h3><a href="{{url}}">{{title}}</a></h3>
                <span class="meta-data">
                    <span class="icon icon-clock"></span>
                    <time datetime="{{machineDate}}">{{humanDate}}</time>
                </span>
                    <div class="social-media">
                        <a class="button-social tab facebook" href="#"><span class="icon icon-facebook"></span></a>
                        <a class="button-social tab twitter" href="#"><span class="icon icon-twitter"></span></a>
                        <a class="button-social tab whatsapp" href="#"><span class="icon icon-whatsapp"></span></a>
                        <a class="button-social tab mail" href="#"><span class="icon icon-mail"></span></a>
                    </div>
                </header>
                {{/first}}
                {{/articles}}
            </div>
        </div>

        <!-- video player and aside thumbnails -->
        <div class="row">

            <!-- video player -->
            <div class="eight columns">
                <div class="video-container">
                    {{#articles}}
                    {{#first}}
                    <iframe id="iframe-video" data-src="//{{videoURL}}?{{videoParameters}}" allowfullscreen></iframe>
                    {{/first}}
                    {{/articles}}
                </div>
            </div>

            <!-- related videos -->
            <div class="four columns">
                {{#articles}}
                <button class="button-unstyled video-thumb" data-src="//{{videoURL}}">
                    <div class="image-container">
                        <span class="icon icon-play"></span>
                        <img class="image" src="images/media/{{imageURL}}" alt="{{imageCaption}}">
                    </div>
                    <span class="label">{{title}}</span>
                </button>
                {{/articles}}
            </div>
        </div>

        <!-- go to video library button -->
        <div class="row">
            <a class="button button-wide" href="video-library.html">
                <span class="icon icon-film"></span> Ir a la videoteca
            </a>
        </div>
    </div>
</section>