<section class="section other-news">
    <h2 class="typography-alternate" hidden>Otras noticias</h2>

    <div class="container">
        <div class="row gallery-grid">
            {{#articles}}
            <article class="news-block columns">
                <h3 class="typography-alternate"><a href="{{categoryURL}}">{{categoryName}}</a></h3>
                <a href="{{url}}" class="image-container"> 
                    <img class="image" src="images/defer.png" data-src="images/media/{{imageURL}}" alt="{{imageCaption}}">
                </a> 
                <h4><a href="{{url}}">{{title}}</a></h4>
                <p class="paragraph">{{intro}}</p>
                <footer>
                    <div class="meta-data">
                        <span hidden class="author">{{author}} |</span>
                        <time datetime="{{machineDate}}"><span class="icon icon-clock"></span>{{humanDate}}</time>
                    </div>
                    <div class="social-media">
                        <a class="button-social tab small facebook" href="#"><span class="icon icon-facebook"></span></a>
                        <a class="button-social tab small twitter" href="#"><span class="icon icon-twitter"></span></a>
                        <a class="button-social tab small whatsapp" href="#"><span class="icon icon-whatsapp"></span></a>
                        <a class="button-social tab small mail" href="#"><span class="icon icon-mail"></span></a>
                    </div>
                </footer>
            </article>
            {{/articles}}

            <!-- we have to create a custom import HTML feature to insert HTML templates -->
        </div>

        <div class="row">
            <button class="button button-wide"><span class="icon icon-down"></span>Cargar más</button>
        </div>
    </div>
</section>
