/* Footer | Article SASS document */


@import ../../../base/variables


.footer article
  .heading-alternate
    color: white
    font-size: 1.4rem
    line-height: 1.9rem
    margin-top: 0.9rem
    margin-bottom: 1.1rem
    text-transform: uppercase

  ul
    list-style-type: none

    li
      line-height: 1.9rem
      margin-bottom: 10px

  .icon
    display: none


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .footer article
    text-align: left

    .icon
      display: block
      word-break: break-all