/* Footer | Horizontal rule SASS document */


@import ../../../base/variables


.footer
  #footer-hr-1
    width: 10rem
    border: 2px solid $color-gold


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .footer
    #footer-hr-1,
    #footer-hr-2,
    #footer-hr-4
      display: none