/* Main News 4 / Grid SASS document */


@import ../../../base/variables


.main-news-4 .grid
  margin: 0 auto
  background: navy

  .news-block
    background-size: cover !important

  .news-block:first-child
    height: 240px

  .news-block:nth-last-child(-n+3)
    display: none


  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    .news-block:first-child
      height: 380px // make larger to proportion correctly on tablet


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    width: 960px
    height: 380px

    .news-block
      float: left

    .news-block:first-child
      height: 100%

    .news-block:nth-last-child(-n+3)
      display: block