/* Main News / News block SASS document */


@import ../../../base/variables
@import ../../../utilities/mixing-multi-line-text


.main-news-4 .news-block
  position: relative
  box-sizing: border-box
  height: 380px
  background-size: cover
  overflow: hidden

  // Making the whole box link active
  a
    position: relative
    display: block
    box-sizing: border-box
    z-index: 2
    padding: 20px
    width: 100%
    height: 100%
    color: white

  img
    display: none // we use this img on the HTML to prioritize the image download but then use that resourse to load the image with the css background property

  .title, .author
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5)

  .title
    $font-size: 2rem
    $line-height: 1.5
    $max-lines: 3

    font-size: $font-size
    line-height: $line-height
    margin-bottom: 5px
    white-space: pre-wrap // to force the title to collapse to the next line
    +multi-line-text($font-size, $line-height, $max-lines)

  .author
    font-family: $font-charis-sil-regular
    font-size: 1.233rem
    line-height: 2rem


// Creating the background cover image via pseudo-element
.main-news-4 .news-block:after
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: #032777
  background: linear-gradient(-134deg, #0943A5 0%, #032777 100%)
  opacity: .5
  transition: opacity .25s ease

.main-news-4 .news-block:hover:after
  opacity: .65


// Larger than desktop
@media ($bp-larger-than-desktop)
  .main-news-4 .news-block
    width: 25%

    .title
      -webkit-font-smoothing: initial // disable anti aliasing for better contrast
      text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.9)