/* Scroll SASS document */


@import ../../../base/variables


.main-news-4 .scroll
  display: block // to unhidden the default html behavior
  background: navy
  width: 100%
  height: 180px
  overflow-y: hidden
  overflow-x: scroll
  white-space: nowrap
  -webkit-overflow-scrolling: touch // iOS momentum scrolling, requires overflow: scroll

  article
    background-size: cover !important
    margin-left: -4px // Necessary to eliminate a display inline elements visible gap
    display: inline-table
    width: 80%

  article:nth-child(1)
    margin-left: 0


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    article
      width: 480px


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    display: none