/* Skeleton | Base styles SASS document */
// html is set to 62.5% so that all the REM measurements throughout Skeleton
// are based on 10px sizing. So basically 1.5rem = 15px :)


@import "variables"


html
  font-size: 62.5%

body
  font-size: 1.5em // currently ems cause a Chrome bug misinterpreting rems on content element
  line-height: 1.6
  font-weight: 400
  font-family: $font-family
  color: $font-color