/* Skeleton | Typography SASS document */


@import "variables"


h1,
h2,
h3,
h4,
h5,
h6
  margin-top: 0
  margin-bottom: 2rem
  font-weight: 700

h1
  font-size: 4.0rem
  line-height: 1.2

h2
  font-size: 3.2rem
  line-height: 1.25

h3
  font-size: 2.2rem
  line-height: 1.3

h4
  font-size: 1.8rem
  line-height: 1.35

h5
  font-size: 1.6rem
  line-height: 1.5

h6
  font-size: 1.4rem
  line-height: 1.6


// Larger than phablet
@media (#{#{$bp-larger-than-phablet}})
  p
    margin-top: 0
    font-size: 1.8rem
    font-weight: 300