/* Skeleton | Utilities SASS document */


.u-full-width
  width: 100%
  box-sizing: border-box

.u-max-full-width
  max-width: 100%
  box-sizing: border-box

.u-pull-right
  float: right

.u-pull-left
  float: left