/* Meta-data SASS document */


@import "../base/variables"


.meta-data
  margin-bottom: 2.5rem
  color: $color-gray
  font-family: $font-charis-sil-regular

  .icon-clock, .text
    line-height: 1

  .icon-clock
    vertical-align: middle
    font-size: 2rem

  .text
    font-size: 1.3rem