/* Section header SASS document */


@import "../base/variables"


header.section-header
  $line-size: 2px

  margin-bottom: 40px

  .heading-alternate
    margin-bottom: 0
    padding-bottom: 1.5rem
    border-bottom: solid $line-size $color-blue
    text-align: center

  .triangle
    margin: -$line-size auto 0 auto
    line-height: 0
    text-align: center


// Mobile and Phablet only override than does not carry to other sizes
@media (max-width: 750px)
  header.section-header
    width: 100%


// Larger than Desktop
@media ($bp-larger-than-tablet)
  header.section-header
    .heading-alternate
      text-align: left

    .triangle
      text-align: left

      img
        margin-left: 65px