/* Social media buttons SASS document */


@import "../base/variables"
@import "../utilities/mixing-items-side-margin"


.social-media
  display: inline

  .button-social
    +items-side-margin(5px, false)

  .button-social.mail
    display: none


// Larger than Tablet
@media ($bp-larger-than-tablet)
  .social-media
    .button-social.mail
      display: inline-block

    .button-social.whatsapp
      display: none


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .social-media
    .button-social
      +items-side-margin(2px, true)