/* Video player SASS document */



@import ../../base/variables


.video-player
  .video-container
    border-bottom: solid 2px $color-gold

  header
    padding-top: 30px

  .social-media
    text-align: center


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    header,
    .social-media
      margin: 0
      width: 100% // forces to use mobile size because there's not enough space to show them side by side


  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    header
      float: left
      width: grid-column-width(8)

    .social-media
      float: right
      text-align: right
      width: grid-column-width(4)