/* Related news News block SASS document */


@import ../../../base/variables


.related-news article
  margin-bottom: 15px

  .title
    margin-bottom: 0
    padding-left: 15px // to avoid being glued to the picture

  .meta-data,
  .paragraph
    display: none // don't show on mobile


  // Larger than Tablet (desktop)
  @media ($bp-larger-than-tablet)
    margin-bottom: 20px
    padding-left:  0

    .title
      padding-left: 0
      margin-bottom: 10px

    .meta-data,
    .paragraph
      display: block // show on desktop

    .meta-data
      margin-bottom: 20px
      font-size: 1.3rem

    .paragraph
      font-size: 1.4rem
      margin-bottom: 0