/* Button wide SASS document */


@import "../../base/variables"


.button-wide
  $height: 48px

  width: 100%
  min-height: $height
  margin-bottom: 0
  color: $color-sky-blue
  border-color: $color-sky-blue
  border-radius: 2px
  font-family: $font-proxima-nova-s-medium
  font-weight: normal
  font-size: 1.6rem
  line-height: $height
  text-align: center
  text-transform: none
  vertical-align: middle

  .icon
    font-size: 3.6rem

  .text
    vertical-align: middle


.button-wide:hover
  background: $color-sky-blue
  color: white
  border-color: $color-sky-blue


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .button-wide
    transition: background 0.25s ease