/* Button social SASS document (social buttons) */


@import "../../base/variables"
@import "button-social/shapes"
@import "button-social/colors"


$transition-parameters: 0.25s ease


// Base button
.button-social
  display: inline-block
  box-sizing: border-box
  width: 4.4rem
  height: 4.4rem
  border: solid 0.1rem
  text-align: center

  span
    font-size: 4rem


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    transition: background $transition-parameters