.button-unstyled
  min-width: 0
  min-height: 0
  margin: 0
  padding: 0
  background: none
  border: none
  border-radius: 0
  font-size: 16px

.button-unstyled:hover
  background: none
  border: none