<section class="main-news-4">
    <h1 class="typography-alternate">News category</h1>
    <h2 class="typography-alternate" hidden>Noticias principales</h2>

    <div class="grid">
        {{#articles}}
        <article class="news-block background-image" style="background: url('images/media/{{imageURL}}')">
            <a href="{{url}}">
                <h3 class="title">{{title}}</h3>
                <p hidden class="author">Por {{author}}</p>
            </a>
            <img hidden src="images/defer.png" data-src="images/media/{{imageURL}}" alt="{{imageCaption}}">
        </article>
        {{/articles}}
    </div>

    <div class="scroll">
        <!-- javascript put the last 3 articles on mobile here -->
    </div>
</section>