/* Footer SASS document */


@import ../../base/variables
@import ../../utilities/mixing-items-side-margin
@import footer/article
@import footer/hr


.footer
  background: $color-background-dark
  color: white
  text-align: center

  a
    color: white
    &:hover
      color: $color-gold

  .button-social
    +items-side-margin(7px, true)

  .typography-alternate
    color: white


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .footer
    text-align: left

    .copyright,
    .social-media
      text-align: center

    .social-media
      display: block
      margin-bottom: 2rem

    .logo-tc
      margin-left: grid-column-width(2)


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .footer
    .logo-tc:hover
      opacity: .85

    .four:nth-child(1)
      width: grid-column-width(6)

    .four:nth-child(2)
      width: grid-column-width(3)

    .four:nth-child(3)
      width: grid-column-width(3)