/* Header SASS document */


@import "../../base/variables"
@import "header/bottom-row"
@import "header/nav"
@import "header/top-row"

.header
  margin: 16px auto
  font-family: $font-proxima-nova-s-medium
  text-transform: uppercase
  text-align: center
  font-size: 1.4rem
  line-height: 1.92rem

  .container
    width: 95%
    padding: 0

  a,
  button
    color: $color-gray
    &:hover
      color: $color-sky-blue

  .active
    color: $color-blue


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .header
    margin: 20px auto 25px auto


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .header
    margin: 30px auto 40px auto