/* Subscribe SASS document */


@import "../../base/variables"
@import "subscribe/form"


.subscribe
  background: $color-background-light
  text-align: center
  border-top: solid 1px darken($color-background-light, 5%)

  .icon-mail-subscribe
    display: none


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .subscribe
    .icon-mail-subscribe
      display: inline-block
      color: #CACACA
      font-size: 10rem