/* Button social color SASS document (social buttons) */


// Variables
$color-facebook: #385185
$color-twitter: #55acee
$color-instagram: #2B5B83
$color-whatsapp: #3CDF57
$color-mail: #52D3C1


// Mixing's
=mixing-color($color)
  color: $color
  border-color: $color

  &:hover
    background: $color
    color: white
    border-color: $color

=mixing-color-circle($color)
  &:hover
    background: none
    color: $color
    border-color: $color


// Specific social network color
.facebook
  +mixing-color($color-facebook)

.twitter
  +mixing-color($color-twitter)

.instagram
  +mixing-color($color-instagram)

.whatsapp
  +mixing-color($color-whatsapp)

.mail
  +mixing-color($color-mail)

.circle.facebook
  +mixing-color-circle($color-facebook)

.circle.twitter
  +mixing-color-circle($color-twitter)

.circle.instagram
  +mixing-color-circle($color-instagram)

.circle.whatsapp
  +mixing-color-circle($color-instagram)

.circle.mail
  +mixing-color-circle($color-mail)