/* Button social shape SASS document (social buttons) */


@import "../../../base/variables"


// Variables
$color-circle: #E4E4E4


.button-social.small
  width: 4rem
  height: 4rem

.button-social.circle
  color: $color-circle
  border-color: $color-circle
  border-radius: 50%

.button-social.tab
  border-radius: 0.35rem 0.35rem 0 0
  border-bottom: none

.button-social.tab-inverted
  border-radius: 0 0 0.35rem 0.35rem
  border-top: none


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .button-social.small
    width: 3rem
    height: 3rem

    span
      font-size: 2.6rem