<section class="main-video">
    <div class="container">
        <div class="video-container">
            <iframe id="iframe-video" src="//{{videoURL}}?{{videoParameters}}" allowfullscreen></iframe>
        </div>
    </div>
</section>