<section id="content" class="streamfields">
    <div class="paragraph">
        <div class="rich-text">
            La casa matriz <b>Avid Life Media (ALM)</b>, que opera la página de encuentros para infieles o aspirantes a
            serlo, informó que la empresa y su jefe ejecutivo, Noel Biderman, estaban “de acuerdo” con la renuncia.
        </div>
    </div>
</section>