/* News block footer SASS document */


@import ../../../../base/variables
@import ../../../../utilities/mixing-items-side-margin


.other-news .news-block footer
  .social-media
    text-align: center
    display: block

  .button-social
    +items-side-margin(4px, true)


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .other-news .news-block footer
    box-sizing: border-box
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    padding: 0 20px

    .meta-data
      time
        display: block


// Special case between Phablet and Desktop
@media ("min-width: 640px")
  .other-news .news-block footer
    .meta-data
      time
        display: inline


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .other-news .news-block footer
    .social-media
      opacity: 0
      transition: opacity 0.25s ease
      text-align: right

    .button-social
      +items-side-margin(2px, true)