/* Inline items side margins SASS mixing */

// About
  This mixing allows to quickly add margin to the sides without messing with the top and bottom margins.
  You can also force the first and last items to eliminate their external side margins

=items-side-margin($margin, $external-margin:false)
  &
    margin-left: $margin
    margin-right: $margin

  @if $external-margin
    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0