/* Multi line text SASS mixing */


=multi-line-text($font-size, $line-height, $max-lines)
  display: block
  max-height: $font-size * $line-height * $max-lines
  line-height: $line-height
  overflow: hidden