/* Gallery grid SASS mixing */

// About
  This mixing allows to quickly create a gallery that stack elements in columns and decrease the amount of columns
  correctly when there's not enough space.


@import "../base/variables"


=gallery-grid($columns:3)
  // Variables
  $phablet-width: 0
  $desktop-width: 0
  $left-column-selector: 0
  $right-column-selector: 0

  @if $columns == 3
    $phablet-width: 6 // 6 column width equals 2 elements per row
    $desktop-width: 4 // 4 column width equals 3 elements per row
    $left-column-selector: 2
    $right-column-selector: 3

  @if $columns == 4
    $phablet-width: 4 // 4 column width equals 3 elements per row
    $desktop-width: 3 // 3 column width equals 4 elements per row
    $left-column-selector: 3
    $right-column-selector: 4


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    & .columns
      width: grid-column-width($phablet-width)

    & .columns:nth-child(#{$left-column-selector}n+1)
      margin-left: 0


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    & .columns
      width: grid-column-width($desktop-width)

    & .columns:nth-child(#{$left-column-selector}n+1)
      margin-left: $column-margin // resets the margin set on phablet

    & .columns:nth-child(#{$right-column-selector}n+1)
      margin-left: 0