@import ../../../../base/variables


.horizontal-container
  display: none
  border-top: solid 2px $color-blue
  border-bottom: solid 1px $color-sky-blue

  .menu-items
    height: 44px
    display: inline-block
    min-height: 0
    margin-bottom: 0

    li
      display: inline
      margin-right: 20px
      list-style-type: none
      line-height: 44px

@media ('min-width: 650px')
  .horizontal-container
    display: block