@import ../../../../base/variables


.header .vertical-container
  display: none
  position: absolute // to appear as a in front/back of a element instead of top/bottom
  left: 0
  z-index: 1000 // to force to appear in front of other elements
  box-sizing: border-box
  width: 85%
  max-width: 320px
  padding: 10px
  background: #333333
  text-align: left

  li
    list-style-type: none

  a
    color: white
    &:hover
      color: $color-gold


// Special case
@media ('min-width: 650px')
  .header .vertical-container
    left: auto
    right: 0
    border: solid 1px $color-sky-blue
    background: white
    border-top: none
    box-shadow: 4px 4px 0 0 rgba(0, 0, 0, 0.2)

    li
      margin-bottom: 0

    a
      color: $color-gray
      &:hover
        color: $color-sky-blue