<section class="article-header">
    <div class="container">
        <header>
            <h3 class="typography-alternate"><a href="{{categoryURL}}">{{categoryName}}</a></h3>
            <h1>{{title}}</h1>
        </header>
        <hr>
        <footer>
            <div class="social-media">
                <a class="button-social tab-inverted facebook" href="#"><span class="icon icon-facebook"></span></a>
                <a class="button-social tab-inverted twitter" href="#"><span class="icon icon-twitter"></span></a>
                <a class="button-social tab-inverted whatsapp" href="#"><span class="icon icon-whatsapp"></span></a>
                <a class="button-social tab-inverted mail" href="#"><span class="icon icon-mail"></span></a>
            </div>
            <div class="meta-data">
                <span hidden class="author">{{author}} |</span>
                <time datetime="{{machineDate}}"><span class="icon icon-clock"></span>{{humanDate}}</time>
            </div>
        </footer>
    </div>
</section>