<section id="latest-news" class="section latest-news">
    <div class="container">
        <h2 class="typography-alternate">Noticias recientes</h2>

        <div class="scroll">
            {{#articles}}
            <article class="news-block">
                <h3 class="typography-alternate category"><a href="{{categoryURL}}">{{categoryName}}</a></h3>
                <div class="meta-data">
                    <time datetime="{{machineDate}}"><span class="icon icon-clock"></span>{{humanDate}}</time>
                </div>
                <a href="#" class="image-container">
                    <img class="image" src="images/defer.png" data-src="images/{{imageURL}}" alt="{{imageCaption}}">
                </a>
                <h6 class="title"><a href="{{url}}">{{title}}r</a></h6>
            </article>
            {{/articles}}
        </div>
    </div>
</section>