<section id="related-news" class="section related-news">
    <div class="container">
        <div class="row">
            <h2 class="eight columns offset-by-two typography-alternate">Más Política</h2>
        </div>

        {{#articles}}
        <article class="row">
            <div class="three columns offset-by-two">
                <a href="#">
                    <picture>
                        <source srcset="images/related-news/thumbnail-desktop.jpg" media="(min-width: 550px)">
                        <source srcset="images/related-news/thumbnail-mobile.jpg">
                        <img src="images/defer.png" data-src="images/{{imageURL}}" alt="{{imageCaption}}">
                    </picture>
                </a>
            </div>
            <div class="five columns">
                <div class="meta-data">
                    <time datetime="{{machineDate}}"><span class="icon icon-clock"></span>{{humanDate}}</time>
                </div>
                <h6 class="title"><a href="{{url}}">{{title}}</a></h6>
                <p class="paragraph">{{intro}}.</p>
            </div>
        </article>
        {{/articles}}
    </div>
</section>