<section class="video-player">
    <h1 class="typography-alternate">Videoteca</h1>

    <div class="container">
        {{#articles}}
        {{#first}}
        <div class="row">
            <div class="video-container">
                <iframe id="iframe-video" data-src="//{{videoURL}}?{{videoParameters}}" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="four columns social-media">
                <a class="button-social tab-inverted facebook" href="#"><span class="icon icon-facebook"></span></a>
                <a class="button-social tab-inverted twitter" href="#"><span class="icon icon-twitter"></span></a>
                <a class="button-social tab-inverted whatsapp" href="#"><span class="icon icon-whatsapp"></span></a>
                <a class="button-social tab-inverted mail" href="#"><span class="icon icon-mail"></span></a>
            </div>
            <header class="eight columns">
                <h3><a href="{{url}}">{{title}}</a>
                </h3>
                 <span class="meta-data">
                    <span class="icon icon-clock"></span>
                    <time datetime="{{machineDate}}">{{humanDate}}</time>
                </span>
            </header>
        </div>
        {{/first}}
        {{/articles}}
    </div>
</section>