<section class="section video-gallery">
    <header class="container section-header">
        <h2 class="typography-alternate">Reportajes de televisión</h2>
        <div class="triangle">
            <img src="images/defer.png" data-src="images/icons/triangle.svg" alt="Adorno del título">
        </div>
    </header>
    <div class="container">
        <div id="gallery-grid" class="row gallery-grid">
            {{#articles}}
            <article class="columns video-thumb" data-src="//{{videoURL}}">
                <h3 class="typography-alternate"><a href="#">{{cagegoryURL}}</a>{{categoryName}}</h3>
                <div class="image-container">
                    <img class="icon" src="images/defer.png" data-src="images/icons/play.png" alt="Ícono de play">
                    <img class="image" src="images/defer.png" data-src="images/media/{{imageURL}}"
                         alt="{{imageCaption}}">
                </div>
                <h4>{{title}}</h4>
                <div class="meta-data">
                    <span class="icon icon-clock"></span>
                    <time datetime="{{machineDate}}">{{humanDate}}</time>
                </div>
            </article>
            {{/articles}}
        </div>
        <div class="row">
            <button class="button button-wide"><span class="icon icon-down"></span>Cargar más</button>
        </div>
    </div>
</section>