/* Base style SASS document */


@import "variables"


body
  color: #333333
  font-family: $font-proxima-nova-light
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

img
  max-width: 100%
  height: auto

.section
  box-sizing: border-box
  padding-top: 50px
  padding-bottom: 30px


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .section
    padding-top: 60px
    padding-bottom: 40px
