/* Icons SASS document */


@import "../base/variables"


.icon
    font-family: $font-icomoon
    speak: none
    font-size: 4.4rem
    font-style: normal
    font-weight: normal
    font-variant: normal
    text-transform: none
    line-height: 1
    vertical-align: middle
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

.icon-calendar:before 
    content: "\e900"

.icon-clock:before 
    content: "\e901"

.icon-close:before 
    content: "\e902"

.icon-contacts:before 
    content: "\e903"

.icon-down:before 
    content: "\e904"

.icon-facebook:before 
    content: "\e905"

.icon-film:before 
    content: "\e906"

.icon-instagram:before 
    content: "\e907"

.icon-left:before 
    content: "\e908"

.icon-mail-subscribe:before 
    content: "\e909"

.icon-mail:before 
    content: "\e90a"

.icon-menu:before 
    content: "\e90b"

.icon-play:before 
    content: "\e90c"

.icon-quote-left:before 
    content: "\e90d"

.icon-right:before 
    content: "\e90e"

.icon-search:before 
    content: "\e90f"

.icon-shortcuts:before 
    content: "\e910"

.icon-sub-menu:before 
    content: "\e911"

.icon-twitter:before 
    content: "\e912"

.icon-up:before 
    content: "\e913"

.icon-whatsapp:before 
    content: "\e914"

.icon-world:before 
    content: "\e915"