/* Gradient overlay image SASS document */
// Note convert to mixing. The parameter to configure would be the proportion value that is modified by changing the
// padding-bottom value.

.image-container
  display: inline-block
  position: relative //so the containers that have an icon on top can be positioned absolutely
  margin-bottom: 15px
  width: 100%
  height: 0
  padding-bottom: 61.804% // golden rectangle height trick
  overflow: hidden
  background: rgba(240, 244, 249, 0.25) // fallback for non background gradient
  background: radial-gradient(50% 98%, rgba(61,131,221,0.05) 51%, rgba(3,39,119,0.10) 100%)
  line-height: 0
  vertical-align: middle

  .icon
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: white
    vertical-align: middle

  .image
    width: 100%
    height: auto
    vertical-align: bottom