/* Site layout headings SASS document */


@import "../base/variables"

.typography-alternate
  font-family: $font-proxima-nova-s-medium, serif
  color: $color-sky-blue

  a
    color: $color-sky-blue

h1.typography-alternate
  $height: 6rem

  height: $height
  margin-bottom: 0
  background: $color-background-light
  color: $color-sky-blue
  text-align: center
  line-height: $height
  border-bottom: solid 1px $color-gray
  font-size: 2.6rem

h2.typography-alternate
  margin-bottom: 1.7rem
  color: $color-blue
  font-size: 2.6rem
  line-height: 1.125

h3.typography-alternate
  margin-bottom: 1rem
  font-size: 1.8rem
  line-height: 1.05


// Larger than Desktop
@media ($bp-larger-than-desktop)
  h1.typography-alternate
    font-size: 2.4rem

  h2.typography-alternate
    margin-bottom: 2rem
    font-size: 2.4rem
    line-height: 1.2125

  h3.typography-alternate
    font-size: 1.8rem
    line-height: 1.22