/* Headings SASS document */


@import "../base/variables"


h1,
h2,
h3,
h4,
h5,
h6
  font-family: $font-charis-sil-regular, serif
  font-weight: 100
  a
    color: #333333

h1
  font-size: 3.2rem
  line-height: 1.125

h2
  margin-bottom: 20px
  font-size: 2.6rem
  line-height: 1.25

h3
  font-size: 2.2rem
  line-height: 1.625

h4
  font-size: 2rem
  line-height: 1.4

p
  margin-bottom: 30px
  font-family: $font-proxima-nova-light
  font-size: 1.6rem
  line-height: 1.4375
  -webkit-font-smoothing: antialiased

small
  font-size: 1.2rem
  line-height: 1.175


// Larger than Tablet
@media ($bp-larger-than-tablet)
  p
    font-size: 1.8rem
    line-height: 1.85

  small
    font-size: 1.4rem
    line-height: 1.225


// Larger than Desktop
@media ($bp-larger-than-desktop)
  h1
    font-size: 4.8rem
    line-height: 1.125

  h2
    font-size: 3rem
    line-height: 1.3

  h3
    font-size: 2.4rem
    line-height: 1.25

  h4
    font-size: 2rem
    line-height: 1.35