/* Responsive video container SASS document */


.video-container
  box-sizing: border-box
  position: relative
  max-width: 100%
  height: 0
  padding-bottom: 56.25%
  padding-top: 30px
  overflow: hidden
  background: #F0F4F9
  background: radial-gradient(50% 98%, rgba(61,131,221,0.05) 51%, rgba(3,39,119,0.10) 100%)

  iframe, object, embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    border: none