/* News block SASS document */


@import ../../../base/variables
@import ../../../utilities/mixing-multi-line-text
@import news-block/footer


.other-news .news-block
  box-sizing: border-box
  background: white
  margin-bottom: 20px
  padding: 20px 20px 0
  border-bottom: solid 2px $color-gray


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .other-news .news-block
    $heading-font-size: 2rem
    $heading-line-height: 1.35
    $heading-max-lines: 3
    $paragraph-font-size: 1.4rem
    $paragraph-line-height: 1.375
    $paragraph-max-lines: 5

    position: relative
    height: 550px
    margin-bottom: 30px

    h4
      font-size: $heading-font-size
      +multi-line-text($heading-font-size, $heading-line-height, $heading-max-lines)

    p
      font-size: $paragraph-font-size
      +multi-line-text($paragraph-font-size, $paragraph-line-height, $paragraph-max-lines)


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .other-news .news-block:hover
    .social-media
      opacity: 1