/* Streamfields | Blockquote SASS document */


@import ../../../base/variables


.streamfields .blockquote blockquote
  $height: 260px
  $avatar-margin: 40px

  margin-top: $avatar-margin + 20px // we add 20px because the avatar on mobile has negative value
  margin-left: 0
  margin-right: 0
  max-height: $height
  background: $color-background-dark
  color: white
  font-family: $font-charis-sil-regular
  text-align: center

  .left, .right
    box-sizing: border-box

  .left
    img
      margin-top: -$avatar-margin
      width: 80px
      height: 80px
      border-radius: 50%
      filter: grayscale(1)

  .right
    background: $color-background-dark
    padding: 20px 20px 40px

    .icon-quote-left
      color: $color-gold

    p
      font-size: 1.8rem
      line-height: 1.22
      font-style: italic
      margin-bottom: 1rem

    .author
      font-size: 1.3rem
      line-height: 1.7
    .author:before
      content: "-"
      margin-right: 5px


  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    margin-top: 50px // eliminate the margin-top needed on mobile because of the avatar, same value as in .streamfields
    overflow: auto

    .left, .right
      float: left
      height: $height
      padding: 40px

    .left
      width: 34%
      background: #CACACA
      text-align: right

      .vertical-align
        display: inline-block
        height: 100%
        vertical-align: middle

      img
        margin-top: 0
        max-width: none
        width: 150px
        height: 150px
        vertical-align: middle

    .right
      width: 66%
      text-align: left

      .icon-quote-left
        margin-left: -5px // to eliminate the white space inside the icons


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    p
      max-width: grid-column-width(9)
      line-height: 1.667