/* Streamfields | HTML embed SASS document */


@import ../../../base/variables


.streamfields .html-embed
  text-align: center

  iframe
    margin: 0 auto
    text-align: center
    border: none
    min-height: 0


    // Smaller than Mobile
    // Desktop width and height are determined by the embed iframe inline properties
    @media (max-width: 400px)
      width: 100%
      height: auto