/* Streamfields | Normal image SASS document */


@import ../../../base/variables


.streamfields .image
  background: $color-background-dark

  img
    display: block
    width: 100%
    height: auto
    margin: 0 auto
    vertical-align: bottom