/* Streamfield - Paragraph SASS document */

// Note:
// We force the tag "b" until we find a way to eliminate them from the rich text editor in Wagtail.


@import ../../../base/variables


.streamfields .paragraph
  div,
  b,
  strong,
  em
    margin-bottom: 30px
    font-family: $font-proxima-nova-light
    font-size: 1.6rem
    line-height: 1.4375
    -webkit-font-smoothing: antialiased


    // Larger than Tablet
    @media ($bp-larger-than-tablet)
      font-size: 1.8rem
      line-height: 1.85

  b,
  strong,
  em
    font-style: normal
    font-weight: normal

  li
    margin-bottom: 0

  // Legacy hack until updating every article to be written without br tags.
  br
    display: none

.streamfields .paragraph
  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    p:last-child
      margin-bottom: 0

.streamfields .paragraph .rich-text
  margin-bottom: 0