/* Streamfields | Phrase SASS document */


@import ../../../base/variables


.streamfields .phrase
  p
    box-sizing: border-box
    padding-left: 28px
    text-align: left
    border-left: solid 2px $color-gold
    font-size: 2.2rem
    line-height: 2.6rem


    // Larger than Tablet
    @media ($bp-larger-than-tablet)
      font-size: 2.4rem
      line-height: 2.8rem
      width: 75% 