<section id="content" class="streamfields">
    <div class="paragraph">
        <div class="rich-text">
            <p>La casa matriz Avid Life Media (ALM), que opera la página de encuentros para infieles <strong>Strong-<em>em.com</em></strong>,
                informó que la empresa y su jefe ejecutivo, Noel Biderman, estaban “de acuerdo” con la renuncia.</p>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 1</li>
            </ul>
            <p>La casa matriz <b>Avid Life Media (ALM)</b>, que opera la página de encuentros para infieles <strong>Strong-<em>em.com</em></strong>,
                informó que la empresa y su jefe ejecutivo, Noel Biderman, estaban “de acuerdo” con la renuncia.</p>
            <ol>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 1</li>
            </ol>
            <p>La casa matriz <b>Avid Life Media (ALM)</b>, que opera la página de encuentros para infieles <strong>Strong-<em>em.com</em></strong>,
                informó que la empresa y su jefe ejecutivo, Noel Biderman, estaban “de acuerdo” con la renuncia.</p>
        </div>
    </div>

    <div class="blockquote">
        <blockquote>
            <div class="left">
                <span class="vertical-align"><!-- span to help content be vertically aligned --></span>
                <img src="images/defer.png" data-src="images/streamfield/blockquote-avatar.jpg"
                     alt="Foto de Gloria Alvarez">
            </div>
            <div class="right">
                <span class="icon-quote-left"><!-- icon --></span>
                <p>La mejor manera de arreglar un país o el mundo en enseñándole a las personas que salir adelante esta
                    en sus manos.</p>
                <span class="author">Gloria Álvarez</span>
            </div>
        </blockquote>
    </div>

    <div class="image">
        <a href="images/streamfield/image-1-original.jpg" target="_blank">
            <picture>
                <source srcset="images/streamfield/image-1-desktop.jpg" media="(min-width: 750px)">
                <source srcset="images/streamfield/image-1-tablet.jpg" media="(min-width: 550px)">
                <source srcset="images/streamfield/image-1-phablet.jpg" media="(min-width: 400px)">
                <source srcset="images/streamfield/image-1-mobile.jpg">
                <img src="images/defer.png" data-src="images/streamfield/image-1-desktop.jpg" alt="Foto de artículo.">
            </picture>
        </a>
    </div>

    <div class="paragraph">
        <div class="rich-text">
            <p>"Ahí (el jueves) se cometió un error. Pero el mayor error fue el de la seguridad turca. No tienen
                derecho, no pueden hacer lo que hicieron. Empiezan a gritar ahí unas chicas malcriadas. Ahí tenemos
                informes, algunas son del MPD. ¡Qué flaco favor que le hacen a la patria! Humillaron al país. No sé qué
                querrán, ¿que rompamos relaciones con un país?, no sé, y al final lo logren. ¡Cuánto perjudican al
                país!", dijo Correa.
            </p>
        </div>
    </div>

    <div class="panorama">
        <a href="images/streamfield/panorama.jpg">
            <picture>
                <img src="images/defer.png" data-src="images/streamfield/panorama.jpg">
            </picture>
        </a>
    </div>

    <div class="paragraph">
        <div class="rich-text">
            <p>"Ahí (el jueves) se cometió un error. Pero el mayor error fue el de la seguridad turca. No tienen
                derecho, no pueden hacer lo que hicieron. Empiezan a gritar ahí unas chicas malcriadas. Ahí tenemos
                informes, algunas son del MPD. ¡Qué flaco favor que le hacen a la patria! Humillaron al país. No sé qué
                querrán, ¿que rompamos relaciones con un país?, no sé, y al final lo logren. ¡Cuánto perjudican al
                país!", dijo Correa.
            </p>
        </div>
    </div>
</section>