<footer class="section footer">
    <div class="container">
        <div class="row">
            <div class="four columns">
                <a class="logo-tc" href="{{company.url}}">
                    <img src="images/defer.png" data-src="images/{{company.logo}}" alt="Logotipo {{company.name}}">
                </a>
                <hr id="footer-hr-1">
            </div>

            <article class="four columns">
                <span class="icon icon-contacts"></span>
                <h3 class="typography-alternate">Contacto</h3>
                <ul>
                    <li><a href="tel:{{company.phone}}">{{company.phone}}</a></li>
                    <li><a href="mailto:{{company.email}}">{{company.email}}</a></li>
                </ul>
                <hr id="footer-hr-2">
            </article>

            <article class="four columns">
                <span class="icon icon-shortcuts"></span>
                <h3 class="typography-alternate">Accesos directos</h3>
                <ul>
                {{#links}}
                    <li><a href="{{url}}">{{name}}</a></li>
                {{/links}}
                </ul>
            </article>
        </div>

        <hr id="footer-hr-3">

        <div class="row">
            <div class="social-media">
            {{#socialMedia}}
                <a class="button-social circle {{class}}" href="{{url}}" target="_blank">
                    <span class="icon icon-{{class}}"></span>
                </a>
            {{/socialMedia}}
            </div>
        </div>

        <hr id="footer-hr-4">

        <div class="row copyright">
            <small>© Copyright {{copyYear}} por TC Televisión. Todos los derechos reservados.</small>
        </div>
    </div>
</footer>