<header class="header">
    <div class="container">
        <div class="row top-row">
            <button id="button-menu" class="button-unstyled"><span class="icon icon-menu"></span></button>
            <a class="logo" href="index.html">
                <img src="{{logo.base64Source}}" width="276" height="32" alt="{{logo.base64Caption}}"/>
            </a>
            <span class="social-media">
            {{#socialMedia}}
                <a class="button-social circle {{class}}" href="{{url}}" target="_blank">
                    <span class="icon icon-{{class}}"></span>
                </a>
            {{/socialMedia}}
            </span>
        </div>

        <div class="row">
            <nav id="nav">
                <div class="horizontal-container">
                    <ul class="menu-items">
                        <!-- items load via js -->
                    </ul>

                    <button id="button-sub-menu" class="button-unstyled"><span class="icon icon-sub-menu"></span></button>
                </div>

                <div class="vertical-container">
                    <ul class="menu-items">
                    {{#menuItems}}
                        <li><a href="{{url}}">{{name}}</a></li>
                    {{/menuItems}}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="row bottom-row">
            <a id="national" href="#">Nacional</a>
            <a id="world" class="active" href="#"><span class="icon icon-world"></span></a>
            <a id="international" href="#">Internacional</a>
        </div>
    </div>
</header>