<section class="section subscribe">
    <div class="container">
        <span class="icon icon-mail-subscribe"></span>
        <h3>{{title}}</h3>
        <p>{{text}}</p>

        <!-- MailChimp Signup Form -->
        <form class="form validate"
              action="//tctelevision.us11.list-manage.com/subscribe/post?u=6a74b0a75ba4ac481aed72690&amp;id=1275b1825c"
              method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank"
              novalidate>
            <input id="mce-EMAIL" class="required email" name="EMAIL" type="email" value=""
                   placeholder="{{placeholder}}">

            <!-- Real people should not fill this in and expect good things. -->
            <!-- Do not remove this or risk form bot sign ups -->
            <input type="text" name="b_6a74b0a75ba4ac481aed72690_1275b1825c" tabindex="-1" value=""
                   style="position: absolute; left: -5000px;">

            <button id="mc-embedded-subscribe" class="button"><span class="icon icon-mail"></span>Enviar</button>
        </form>
    </div>
</section>