/* Article header SASS document */


@import ../../base/variables


.article-header
  padding-top: 25px //overrides default layout settings
  overflow: hidden

  h1
    @media ($bp-larger-than-desktop)
      width: grid-column-width(9)

  hr
    margin-bottom: 0
    border: solid 1px $color-gold

  .meta-data
    margin-top: 20px
    margin-bottom: 0
    text-align: center

  .social-media
    display: block
    text-align: center


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    .meta-data,
    .social-media
      width: 100% // forces to use mobile size because there's not enough space to show them side by side


  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    padding-top: 45px

    .meta-data
      float: left
      width: grid-column-width(8)
      margin-top: 10px
      text-align: left

    .social-media
      float: right
      text-align: right
      width: grid-column-width(4)

.article-header.no-padding-top
  padding-top: 0