/* Recent news SASS document */


@import ../../base/variables
@import ../../utilities/mixing-gallery-grid
@import latest-news/news-block


.latest-news
  background: $color-background-light

  .scroll
    overflow-y: hidden
    overflow-x: scroll
    white-space: nowrap
    -webkit-overflow-scrolling: touch // iOS momentum scrolling, requires overflow: scroll

    article
      display: inline-table
      width: 220px
      margin-left: 3.5%

    article:first-child
      margin-left: 0


  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    .scroll
      overflow: hidden

      article
        width: grid-column-width(3)