/* Related news SASS document */


@import ../../base/variables
@import related-news/news-block


.related-news
  padding-top: 15px

  article
    .columns:first-child
      width: 25%

    .columns:last-child
      width: 75%


    // Larger than Phablet (tablet)
    @media ($bp-larger-than-phablet)
      .columns
        width: 100% //returns to normal column behaviour

      .columns:first-child
        margin-left: 0 // protects from overflowing 
        width: grid-column-width(4)

      .columns:last-child
        width: grid-column-width(8)


    // Larger than Tablet (desktop)
    @media ($bp-larger-than-tablet)
      .columns:first-child
        margin-left: grid-offset-length(2)
        width: grid-column-width(3)

      .columns:last-child
        width: grid-column-width(5)


  // Larger than Tablet (desktop)
  @media ($bp-larger-than-tablet)
    padding-top: 60px