/* Streamfields SASS document */


@import ../../base/variables
@import streamfields/blockquote
@import streamfields/html-embed
@import streamfields/image
@import streamfields/panorama
@import streamfields/paragraph
@import streamfields/phrase
@import streamfields/subtitle
@import streamfields/video


.streamfields
  padding-top: 0
  padding-bottom: 0

.streamfields .panorama,
.streamfields .blockquote
  margin: 0 auto 40px

.streamfields .paragraph,
.streamfields .subtitle,
.streamfields .image,
.streamfields .phrase,
.streamfields .html-embed,
.streamfields .video
  position: relative
  width: 100%
  max-width: $container-width
  margin: 0 auto 40px
  padding: 0 20px
  -webkit-box-sizing: border-box
  box-sizing: border-box


  // Larger than mobile
  @media (#{#{$bp-larger-than-mobile}})
    width: $container-width-larger-than-mobile
    padding: 0


  // Larger than Phablet
  @media ($bp-larger-than-phablet)
    width: $container-width-larger-than-phablet


  // Larger than Tablet
  @media ($bp-larger-than-tablet)
    width: 66%


  // Larger than Desktop
  @media ($bp-larger-than-desktop)
    width: grid-column-width(6)


.streamfields
  *:last-child
    margin-bottom: 0

.streamfields .eight > *
  width: 100% // for elements inside sub-containers