/* Main News 7 / Grid SASS document */


@import ../../../base/variables


.main-news-7 .grid
  margin: 0 auto
  background: navy

  article
    background-size: cover !important

  .news-block:nth-last-child(-n+4)
    display: none


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .main-news-7 .grid
    display: flex
    flex-direction: column
    flex-wrap: wrap
    height: 360px
    overflow: hidden

    // Create the bigger blocks
    .news-block:nth-child(1),
    .news-block:nth-child(5)
      height: 360px


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .main-news-7 .grid
    width: 960px
    height: 540px

    .news-block:nth-last-child(-n+4)
      display: block

    // Notes:
      The child #1 and #4 don't need reorder.
      But the child #4 need to be declared on purpose. Otherwise the next children will override it's place.
      The order goes in columns not rows.
    .news-block:nth-child(2)
      order: 3
    .news-block:nth-child(3)
      order: 6
    .news-block:nth-child(4)
      order: 4
    .news-block:nth-child(5)
      order: 7
    .news-block:nth-child(6)
      order: 2
    .news-block:nth-child(7)
      order: 5