/* Recent news News block SAS document */


@import ../../../base/variables


.latest-news article
  margin-bottom: 20px

  .headings,
  .title
    margin-bottom: 0
    white-space: pre-wrap // to force the title to collapse to the next line
    // Larger than Desktop
    @media ($bp-larger-than-desktop)
      margin-bottom: 10px

  .meta-data
    margin-bottom: 5px
    font-size: 1.3rem
    // Larger than Desktop
    @media ($bp-larger-than-desktop)
      margin-bottom: 20px

  .image-container
    margin-bottom: 10px
    // Larger than Desktop
    @media ($bp-larger-than-desktop)
      margin-bottom: 15px