/* On screen SASS document */


@import on-screen/title-header
@import on-screen/video-thumb


.on-screen
  $border-size: 2px

  // second row
  .row:nth-child(2)
    margin-bottom: 30px

  .four.columns
    margin-top: $border-size

  .video-container
    border-top: solid $border-size $color-gray


// Larger than desktop
@media ($bp-larger-than-desktop)
  .on-screen
    .row:nth-child(2)
      margin-bottom: 50px