/* Subscribe form SASS document */


@import ../../../base/variables


.form
  margin-bottom: 0

  input[type="date"],
  input[type="email"],
  button
    height: 60px
    font-family: $font-proxima-nova-light
    font-size: 1.4rem
    line-height: 1.7rem
    font-weight: 100
    border-color: #E4E4E4

  input[type="date"],
  input[type="email"]
    display: inline-block
    width: 75%
    border-radius: 2px 0 0 2px

  button
    display: inline-block
    width: 20%
    margin-top: 1px // fixes
    margin-left: -4px // fixes weird spacing bug
    margin-bottom: 0
    padding: 0
    background: $color-blue
    border: darken($color-blue, 10%)
    border-radius: 0 2px 2px 0
    color: white
    text-transform: uppercase

    [class^="icon-"], [class*=" icon-"]
      font-size: 4.4rem
      line-height: 0
      color: white
    .text
      display: none

  button:hover
    background: darken($color-blue, 10%)


// Larger than Phablet
@media ($bp-larger-than-phablet)
  .form
    input[type="date"],
    input[type="email"]
      width: 60%

    button
      [class^="icon-"], [class*=" icon-"]
        display: none
      .text
        display: inline


// Larger than Desktop
@media ($bp-larger-than-desktop)
  .form
    input[type="date"],
    input[type="email"]
      width: 500px

    button
      width: 160px